

.info-blade-col
{
    width: calc(100% * 339 / 1598 );
    margin-right: 33px;
    float: left;
}

.show-blade-col
{
    width: calc(100% * 1226 / 1598);
    float: right;
}

.panel-wrapper
{
    margin-bottom: 20px;
    padding-right: 2px;
    padding-bottom: 35px;
    padding-left: 20px;

    background: #fff;
    box-shadow: -3px 2px rgba(0, 0, 0, .05), 3px 2px 5px rgba(0, 0, 0, .05), 0 5px 5px rgba(0, 0, 0, .05);
}

.show-wrapper-header
{
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;

    display: inline-block;

    height: 52px;
    margin-bottom: 36px;
    padding-right: 18px;
    padding-left: 18px;

    text-align: center;

    color: #fff !important;
    border: 1px solid;
}

.purple-header {
    border-color: #9e33d6;
    background-color: #9e33d6;
}

.orange-header {
    border-color: #fe6c01;
    background-color: #fe6c01;
}

.green-header {
    border-color: #23b820;
    background-color: #23b820;
}

.green-color {
    border-color: #23b820;
    background-color: #23b820;
}

.blue-header {
    border-color: #01a8fe;
    background-color: #01a8fe; 
}

.show-wrapper-body {
    margin-top: -1px;
}

.grid-col {
    font-weight: 500;
    font-size: 14px;
}

.grid-col > span {
    font-weight: normal;
    font-size: 16px;
    display: grid;
    margin-top: 5px;
}


.grid-col > hr {
    width: 31px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.text-color > span {
    font-weight: bold;
    color: #01a8fe;
    font-size: ;
}

